[submodule "etxradiant"]
	path = etxradiant
	url = git://xreal.git.sourceforge.net/gitroot/xreal/ET-XreaL_etxradiant
[submodule "etmain"]
	path = etmain
	url = git://git.code.sf.net/p/openterritory/etmain.git
